<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rectifier</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='StyleforMob.css')}}">
    <script src="{{url_for('static', filename='SSS.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--For Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!--topBAr-->
        <!--loader-->
    <div id="loader"></div>
    <div class="topBar">
        <div class="Logo">
            <a href="/"><img src="{{url_for('static', filename='img/logo.png')}}" alt="">
            <h2 style="color: black;">ectifier</h2></a>
        </div>
        <div class="Searchengager" onclick="Searchengager()">
            <img src="{{url_for('static', filename='img/search button.webp')}}">
        </div>
        <!--Profile-->
        <a href="/logInBar">
            <div class="loginbar" title="Log in">
                {% if Comment == None or Comment is not defined %}
                    <img src="{{url_for('static', filename = 'img/profile.webp')}}"  style="height: 100%;width: 100%; top: 0;border-radius: 50%;">
                {% else %}
                    <img src="{{ url_for('static', filename='FeedBack/ProfilePic/'+ Comment.PPic)}}" alt="" style="height: 100%;width: 100%; top: 0;border-radius: 50%;">
                {% endif %}
            </div>
        </a>        
    </div>
    <!--searchBar-->
    <div id="Searchinterface" >
        <form action="/Search" method="post">
            <input type="text" placeholder="Search" name="Search">
            <button type="submit"><img src="{{url_for('static', filename='img/search button.webp')}}"></button>
            <ul id="suggestionList"></ul>
        </form>
        <div class="closerrr" style="height: 100%;width: 100%;top: 0;left: 0;" onclick="SearchCloser()"></div>
        
    </div>
    <!--MenuPopUps-->
    {% block body %}
    {% endblock %}
    <!--leftBAr-->
    <div class="leftBar">
        <ul id="leftbar">
            <a href="/Watched"><li style="z-index: 4;"><img src="{{url_for('static', filename='img/Watched.webp')}}" title="Watched" alt=""></li></a>
            <a href="/Liked" ><li style="z-index: 3;"><img src="{{url_for('static', filename = 'img/Liked.webp')}}" title="Liked" alt=""></li></a>
            <li style="z-index: 2;"><img src="{{url_for('static', filename = 'img/Purchesed.webp')}}" title="Purchesed" alt=""></li>
            <a href="/studios"><li><img src="{{url_for('static', filename='img/Studio.webp')}}" title="Studio" style="border-bottom-right-radius: 10px;" alt=""></li></a>
        </ul>
    </div>
    <!--homeSuggesions-->
    <div class="Suggesions">
        <div class="content_Galary">
            <div class= "ContentsExample_V_Show">
                {% for score,content in Liked %}
                <a href="/VideoPlayer/{{content.Content}}">
                    <li>
                        <img src="{{ url_for('static', filename='FeedBack/Thumbnail/'+ content.Thumbnail)}}" alt="">
                        <p>{{ content.Title}}</p>
                    </li>
                </a>
                {% endfor %}
            </div>

            <div class= "ContentsExample_V_Show">
                {% for content in Lcontents %}
                <a href="/VideoPlayer/{{content.Content}}">
                    <li>
                        <img src="{{ url_for('static', filename='FeedBack/Thumbnail/'+ content.Thumbnail)}}" alt="">
                        <p>{{ content.Title}}</p>
                    </li>
                </a>
                {% endfor %}
            </div>

            <div class= "ContentsExample_V_Show">
                {% for content in contents %}
                <a href="/VideoPlayer/{{content.Content}}">
                    <li>
                        <img src="{{ url_for('static', filename='FeedBack/Thumbnail/'+ content.Thumbnail)}}" alt="">
                        <p>{{ content.Title}}</p>
                    </li>
                </a>
                {% endfor %}
            </div>

            <div class= "ContentsExample_V_Show">
                {% for content in MostWatched %}
                <a href="/VideoPlayer/{{content.Content}}">
                    <li>
                        <img src="{{ url_for('static', filename='FeedBack/Thumbnail/'+ content.Thumbnail)}}" alt="">
                        <p>{{ content.Title}}</p>
                    </li>
                </a>
                {% endfor %}
            </div>
            
            <div class= "ContentsExample_V_Show">
                {% for score,content in Watched %}
                <a href="/VideoPlayer/{{content.Content}}">
                    <li>
                        <img src="{{ url_for('static', filename='FeedBack/Thumbnail/'+ content.Thumbnail)}}" alt="">
                        <p>{{ content.Title}}</p>
                    </li>
                </a>
                {% endfor %}
            </div>

            <div class= "ContentsExample_V_Show">
                <!--all cont-->
                {% for content in allcont %}
                <a href="/VideoPlayer/{{content.Content}}">
                    <li>
                        <img src="{{ url_for('static', filename='FeedBack/Thumbnail/'+ content.Thumbnail)}}" alt="">
                        <p>{{ content.Title}}</p>
                    </li>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
</body>
</html>