/*background testing*/
Body{
    background-color: rgb(255, 255, 255);
}
element.style {
    margin-top: 20px;
}
user agent stylesheet
h6 {
    display: block;
    font-size: 0.77em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:normal;
}
user agent stylesheet
a:-webkit-any-link {
    text-decoration: none;
    color: -webkit-link;
    cursor: pointer;
}
li{
    list-style: none;
}
.test{
    top: 0cm;
    right: 0cm;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
.content{
    overflow:hidden;
}
.test img{ 
    width: 100%;
    height: auto;
    position: absolute;
    overflow: hidden;
}
/*left bar*/
h3{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#leftbar{
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
}
.topbar{
    height: 1.3cm;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 3;
    left: 0;
}
.leftBar li{
    list-style: none;
    height: 1.3cm;
    width: 1.3cm;
    box-shadow: 2px 2px 3px rgba(0, 195, 255, 0.453);
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}
.leftBar li img{
    height: 100%;
    width: 100%;
}
.leftBar ul{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 1.3cm;
   cursor:auto;
   z-index: 7;
   backdrop-filter: blur(50px);
   background-color: rgba(255, 255, 255, 0.096);
   position: absolute;
   border-bottom-right-radius: 15px;
}
.leftBar {
    cursor: pointer;
}
body{
    margin: 0;
}
.VideoInfo{
    height: 14cm;
    width: 100%;
    top: 2cm;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    padding: auto;
}
.Video{
    height: 14cm;
    width: auto;
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 0;
    left: 50%; /* move div1 50% right from left of div2 */
    transform: translate( -50%); /* move div1 50% of its own width and height to the left and up */
    margin: 0;
    padding: 0;
}
.Video video{
    height: 12cm;
    width: auto;
}
.Vinfo{
    height:2cm;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    bottom: 0;
}
.Vinfo h4{
    height: 1cm;
    width: 100%;
    margin: 0;
    text-align: left;
    color: black;
    left: 50%;
    z-index: 5;
    transform: translate( -50%);
    position: absolute;
}
.Vinfo h5{
    height: 0.5cm;
    width: calc(100% - 10cm);
    margin: 0;
    text-align: left;
    color: black;
    left: 1.3cm;
    bottom: 0;
    z-index: 5;
    position: absolute;
}
.Vinfo img{
    height: 1cm;
    width: 1cm;
    border-radius:50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.CommentsPleace{
    height:auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 29cm;
    left: 1cm;
}
.CommentTaker{
    height: 1cm;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.CommentTaker form{
    height: 1cm;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.Comment{
    height: 100%;
    width: calc(100% - 2cm);
    top: 0;
    left: 0;
    outline: 0;
    border: 0;
    position: absolute;
}
.CommentTaker form button{
    height: 1cm;
    width: 2cm;
    background-color: rgb(0, 144, 105);
    position: absolute;
    top: 0;
    padding: 0;
    border: none;
    right: 0;
    border-radius: 50px;
}
.CommentTaker form button H4{
    color:white;
    position: absolute;
    text-align: center;
    top: calc(calc(100% - 0.6cm) / 2);
    height: 0.6cm;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: large;
}

.CommentCollector{
    width: 100%;
    height: auto;
    left: 0;
    top:1.5cm;
    position: absolute;
}
.CommentS{
    min-height: 2cm;
    width: 100%;
    position: relative;
    word-wrap: break-word; 
    display:grid;
    gap: 10px;
}
.CommentS img{
    height: 1cm;
    width: 1cm;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.CommentS h5{
    height: 0.5cm;
    width: 40%;
    margin-left: calc(1cm + 7px);
    color: black;
    margin-top: 17px;
    margin-bottom: 0;
}
.CommentS P {    
    height: auto;
    width:15cm;
    margin-left: calc(1cm + 7px);
    margin-top: 0;
}

.options{
    height:0.625cm;
    width: auto;
    bottom: 0;
    right: 0;
    position: absolute;
   
}
.options li{
    float: right;
    height: 100%;
    margin: 10px;
    text-align: left;
    margin-top: 0;
    width: auto;
    display: flex;
    align-items: center;
    background-color: white;
}
.options li img{
    height: 100%;
    left: 0;
    margin: 5px;
    position: relative;
    width: auto;
    border-radius: 50px;
}
.getFeedback{
    height: 1cm;
    width: auto;
    border-radius: 20px;
    top: 0.15cm;
    cursor: pointer;
    right: calc(2.5% + 1.5cm);
    position: fixed;
    z-index: 11;
    background-image: linear-gradient(135deg, rgb(0, 255, 204)25%,rgb(45, 0, 135));
}
.ImageInfo{
    height: 14cm;
    width: 100%;
    top: 2cm;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    padding: auto;
}
.Image{
    height: 14cm;
    width: auto;
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 0;
    left: 50%; /* move div1 50% right from left of div2 */
    transform: translate( -50%); /* move div1 50% of its own width and height to the left and up */
    margin: 0;
    padding: 0;
}
.Image img{
    height: 12cm;
    width: auto;
}
.Iinfo{
    height:2cm;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0
}
.Iinfo h4{
    height: 1cm;
    width: 100%;
    margin: 0;
    text-align: center;
    color: black;
    left: 50%;
    z-index: 5;
    transform: translate( -50%);
    position: absolute;
}
.Iinfo img{
    height: 1cm;
    width: 1cm;
    border-radius:50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Iinfo h5{
    height: 1cm;
    width: calc(100% - 5cm);
    margin: 0;
    text-align: left;
    color: black;
    left: 1.3cm;
    bottom: 0;
    z-index: 5;
    position: absolute;
}
.Pros{
    height: 10cm;
    width: 10cm;
    top: 18cm;
    z-index: 5;
    left: 4cm;
    position: absolute;
}
.Pros h2{
    height: 1cm;
    width: 100%;
    margin: 0;
    top: 0;
    color: black;
}
.Pros pre{
    height: 9cm;
    color: black;
    padding: 5px;
    width: 10cm;
    background-color: rgba(128, 128, 128, 0.402);
    border-radius: 10px;
    position: absolute;
    top:0.5cm;
    left: 0;
}
.Cons{
    height: 10cm;
    width: 10cm;
    top: 18cm;
    z-index: 5;
    right: 4cm;
    position: absolute;
}
.Cons h2{
    height: 1cm;
    width: 100%;
    text-align: right;
    margin: 0;
    top: 0;
    color: black;
}
.Cons pre{
    height: 9cm;
    color: black;
    padding: 5px;
    width: 10cm;
    background-color: rgba(128, 128, 128, 0.402);
    border-radius: 10px;
    position: absolute;
    top:0.5cm;
    left: 0;
}
.PaymentPage{
    height: 15cm;
    width: 10cm;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rectifierLogo{
    height: 1.5cm;
    width: 4cm;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.rectifierLogo img{
    height: 1.3cm;
    width: 1.3cm;
    position: absolute;
    top: 0.1cm;
}
.rectifierLogo h2{
    height: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    font-size: 1.9em;
    font-weight: normal;
    margin: 0;
    bottom: 0.1cm;
    left: 1.3cm;
    position: absolute;
}
.ContentShow{
    height: 6cm;
    width: 100%;
    position: relative;
}
.ContentShow img{
    height: 3cm;
    width: auto;
    border-radius: 10px;
    position: relative;
    margin-top:0.5cm ;
    left: 50%;
    transform: translate(-50%, 0);
}
.ContentShow h3{
    height: 0.8cm;
    width:auto;
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    overflow: hidden;
    color: black;
}
.ContentShow h4{ 
    height: 0.5cm;
    width: auto;
    position: relative;
    text-align: center;
    color: black;
}
.Value{
    height: 2cm;
}
.Value h2{
    height: calc(100% - 0.5cm);
    color: black;
    text-align: center;
    margin: 0;
    font-size: 3em;
}
.Owner{
    height: 1cm;
    width: 100%;
    margin-bottom: 1cm;
}
.Owner h4{
    height: 1cm;
    width:50%;
    color: black;
    position: absolute;
    text-align: center;
    font-weight: normal;
    left: 0;
}
.AccountNumber{
    height: 2cm;
    width: 100%;
    position: relative;
}
.AccountNumber form{
    height: 100%;
    width: 100%;
}
.AccountNumber form input{
    height: 1cm;
    width: 70%;
    top: 0;
    border-radius: 50px;
    padding-left:10px ;
    outline: 0;
    border: 0;
    box-shadow: 1px 1px 4px black;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

}
.AccountNumber form button{
    width: 2cm;
    height: 0.8cm;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin: 0;
    border-radius: 50px;
    border:0;
    outline:0;
    background-image: linear-gradient(-45deg, rgb(0, 68, 169)25%, rgb(0, 255, 94));
    color: white;
    font-weight: bold;
}


@media only screen and (max-width: 900px){
    .topbar{
        height: 0;
        width: 0;
    }
    #leftbar{
        height: 0;
        width: 0;
    }
    #logo{
        height: 0;
        width: 0;
    }
    .VideoInfo {
        height: auto;
        top: 0;
    }
    .Video {
        height: auto;
        width: 100%;
    }
    .Video video {
        height: auto;
        width: 100%;
    }
    .Pros {
        width: 95%;
        top: 9cm;
        left: 2.5%;
    }
    .Pros pre{
        width: 95%;
    }
    .Pros h2 {
        text-align: center;
    }
    .Cons {
        width: 95%;
        top: 20cm;
        right: 2.5%;
    }
    .Cons pre{
        width: 95%;
    }
    .Cons h2{
        text-align: center;
    }
    .CommentsPleace {
        width: 95%;
        top: 31cm;
        right: 2.5%;
    }
    .PaymentPage {
        box-shadow:none;
    }
}
@media only screen and (max-width: 900px) and (min-width:450px){
    .Pros {
        width: 95%;
        top: 13.5cm;
        left: 2.5%;
    }
    .Cons {
        width: 95%;
        top: 24cm;
        right: 2.5%;
    }
    .CommentsPleace {
        width: 95%;
        top: 35cm;
        right: 2.5%;
    }
    .PaymentPage {
        box-shadow: 0px 0px 3px black;
    }
}
