h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textPath{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0;
    width: auto;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:white;
    overflow: hidden;
    margin: 0;
}
h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%; 
    margin: 0;
}
.Logo{
    height: 1.3cm;
    width: auto;
}
.Logo h2{
    height: 0.7cm;
    width: auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0.15cm;
    top: 0.425cm;
    font-weight: normal;
    left: calc(2.5% + 1cm);
    position: absolute;
}
.Logo img{
    height: 1cm;
    width: 1cm;
    position: absolute;
    top: 0.15cm;
    left: 2.5%;
}
#leftbar{
    border-bottom-right-radius: 15px;
}
.leftBar li{
    list-style: none;
    height: 1.3cm;
    width: 1.3cm;
    
    background-color: rgba(255, 255, 255, 0);
}
.leftBar li img{
    height: 100%;
    width: 100%;
}
.leftBar ul{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 1.3cm;
   cursor:auto;
   z-index: 7;
   backdrop-filter: blur(50px);
   background-color: rgba(255, 255, 255, 0.096);
   position: absolute;
   border-bottom-right-radius: 15px;
}
.leftBar {
    cursor: pointer;
}
#menu{
    visibility: hidden;
}
#closer{
    height: 1.3cm;
    width:1.3cm;
    top: 0;
    left: 0;
    background-color: transparent;
    position: absolute;
    visibility: hidden;
    z-index: 18;
}
.banner{
    height: 1.3cm;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.347);
}
.banner h4{
    position: absolute;
    width: 50%;
    margin-right: 0;
    height: 50%;
    top: 25%;
    left: 25%;
}
.upload_pop_up{
    height: 90%;
    width: 90%;
    top: 5%;
    z-index:6;
    left: 5%;
    overflow-y:scroll;
    position: absolute;
    border-radius: 10px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.321); ;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(5px);
}
.content_Type{
    height: 1.3cm;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    backdrop-filter: blur(5px);
    text-align: center;
    left:0;
    position:sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.409);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.321);
}
.content_Type ul{
    left: 10%;
    position: fixed;
    width: 80%;
    height:50%;
    top: 25%;
    margin: 0;
    padding: 0;
}
.content_Type ul h3{
    margin: 0;
}
.a{
    margin-right:12%;
}
.a p{
    margin:0;
    color: black;
}
.b{
    background-color: black;
    margin-right: 12%;
}
.b p{
    margin: 0;
    color: rgb(255, 255, 255);
}
.content{
    position: absolute;
    left: 2.6cm;
    top: 2.7cm;
    height: 40%;
    width: 38%;
    background-color: rgba(191, 191, 191, 0.507);
}
#content-preview{
    position: absolute;
    left: 2.6cm;
    top: 2.7cm;
    visibility: hidden;
    z-index:4;
    height: 40%;
    width: 38%;
    background-color: rgb(0, 0, 0);
}
#content-preview img{
    height: 100%;
    width: auto;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#V-content{
    position: absolute;
    left: 2.6cm;
    top: 2.7cm;
    visibility: hidden;
    z-index: 1;
    height: 40%;
    width: 38%;
    background-color: rgba(191, 191, 191, 0);
}
#V-content video{
    width: 100%;
    height: 100%;
}
.content input[type="file"]{
    display: none;
}
.content img{
    cursor: pointer;
    height: 1cm;
    position: absolute;
    width: 1cm;
    border-radius: 50%;
    z-index: 5;
    top: 0;
    left: 0;
    z-index: 3;
}
.video{
    height: auto;
    width: auto;
    position: absolute;
    left: 25%;
    z-index: 12;
    border-radius: 20px;
    top: 45%;
    padding: 10px;
    background-color: rgb(0, 106, 255);
}
.video p{
    margin: 0;
    cursor: pointer;
}
.title{
    width:40%;
    height: auto;
    position: absolute;
    top: 2.7cm;
    right: 10%;
}
.title textarea{
    height: auto;
    width: 100%;
    resize: none;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    outline: none;
    top: 0;
}
.title h3{
    margin: 0;
}
.description{
    width: 40%;
    height: auto;
    position: absolute;
    top: 3.7cm;
    right: 10%;
}
.description textarea{
    height: auto;
    width: 100%;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    resize: none;
    outline: none;
}
.much_info{
    height: 85%;
    top: 60%;
    width: 90%;
    background-color: rgba(227, 227, 227, 0);
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    padding-right: hidden;
    left:10%;
}
.suggations{
    height: 20%;
    width: 45%;
    position: absolute;
    top: 0%;
    right: 5%;
}
.suggations textarea{
    width: 100%;
    height: auto;
    resize: none;
    outline: none;
}
.VUpload{
    height: auto;
    width: auto;
}
.UImage{
    width: 90%;
    height: 100%;
    top: 0;
    left: 5%;
    position: absolute;
}
.Image_input{
    width: 50%;
    height: 70%;
    top: 1.3cm;;
    left: 25%;
    position: absolute;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
}
.Image_input input[type ="file"]{
    display: none;
}
.Image_input label{
    height: 6%;
    top: 47%;
    left: 25%;
    border-radius: 50px;
    position: absolute;
    width: 50%;
    background-color: rgb(0, 68, 255);
    
}
#ArtName{
    width: 50%;
    bottom:7%;
    left: 25%;
    resize: none;
    outline: none;
    position: absolute;
}
#ArtistName{
    resize: none;
    outline: none;
    right: 025%;
    bottom: 15%;
    position:absolute;
}
.mini{
    width: 25%;
    left: 37.5%;
    position: absolute;
    height: 100%;
    top: 0;
}
.mini_input{
    width: 100%;
    top: 1.3cm;
    border-radius: 10px;
    background-color:rgb(232, 232, 232);
    position: absolute;
    height: 70%;
}
.mini input[type = "file"]{
    display: none;
}
.mini label{
    height: 6%;
    top: 47%;
    left: 25%;
    border-radius: 50px;
    position: absolute;
    width: 50%;
    background-color: rgb(0, 68, 255);
}
.submit{
    bottom: 0;
    left:35%;
    position:absolute;
}
.submit button{
    height: 1cm;
    width: 2cm;
    border-radius: 50px;
    border:none;
    background-color: rgb(0, 89, 255);
    outline: none;
}
#mini_title{
    width: 100%;
    bottom:7%;
    resize: none;
    outline: none;
    position: absolute;
}
.anuns{
    height: 100%;
    width: 50%;
    left: 25%;
    vertical-align: middle;
    top: 0;
    position: absolute;
}
.AImg{
    width: 50%;
    left: 25%;
    position: absolute;
    border-radius: 10%;
    top: 1.3cm;
    height: 30%;
    background-color: rgb(223, 223, 223);
}
.AImg input[type="file"]{
    display: none;
}
.AImg label{
    height: .7cm;
    width: 50%;
    left: 25%;
    top: 40%;
    border-radius: 10px;
    background-color: rgb(0, 72, 255);
    position: absolute;
}
.anuns textarea{
    top: calc(40% + 1.3cm);
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    outline: none;
    resize: none;
}
#Headline{
    height: auto;
    width: 100%;
    top: calc(31% + 1.3cm);
    position: absolute;
}
.UploadButton{
    height: 1cm;
    width: 1cm;
    top: 5px;
    box-shadow: 0px 0px 5px  black;
    border-radius: 50%;
    right: 10px;
    z-index: 4;
    position: absolute;
}
.UploadButton img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
}
.close{
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    rotate: 45deg;
}
a:-webkit-any-link{
    color: black;
    text-decoration: none;
}
.VUpload button{
    height: 1cm;
    width: 2cm;
    position: absolute;
    right: 10%;
    bottom: 10%;
    border-radius:50px ;
    border: 0;
    outline:0;
    background-color: rgb(0, 89, 255);
}
.Portfolio{
    top: 2cm;
    left: 5%;
    right: 5%;
    border-radius:50px;
    backdrop-filter: blur(20px);
    background-color: rgba(230, 230, 230, 0.573);
    bottom:0cm;
    height: auto;
    width: auto;
    position: absolute;
    overflow: auto;
}
.Pphoto{
    height: 2cm;
    width: 2cm;
    border-radius: 50%;
    top: 62.5px;
    background-color:aqua;
    left: 62.5px;
    position: absolute;
}

.Pphoto img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.Portfolio h1{
    margin: 0;
    top: 62.5px;
    left: 148px;
    position: absolute;
}
#Aboutxyz{
    height: 0.75cm;
    width: auto;
    top: 99px;
    left: 148px;
    outline: none;
    background-color: rgb(0, 81, 255);
    border-radius: 50px;
    border: none;
    visibility: visible;
    position: absolute;
}
#About_Write{
    height: 2cm;
    width: auto;
    top: 99px;
    left: 148px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
    position: absolute;
}
#About_SEction form button{
    height: 1cm;
    width: 1.5cm;
    top:99px;
    left: 400px;
    position: absolute;
    border: none;
    background-color: rgb(0, 85, 255);
    text-decoration: white;
    border-radius: 10px;
}

.profile input[type = "file"]{
    display: none;
}
.profile label{
    height: 1.5cm;
    width: 1.5cm;
    top:72.5px;
    z-index: 6;
    position: absolute;
    left: 70.5px;
}
.profile label img{
    width: 100%;
    height: 100%;
}
.content_Galary{
    width: 100%;
    height: auto;
    
    top: 190.95px;
    bottom: 0;
    position: absolute;
}
.Content_T{
    height: 1.3cm;
    position: sticky;
    width: 100%;
    position: fixed;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: rgba(230, 230, 230, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.321);
}
.Content_T ul{
    left: 10%;
    position: fixed;
    width: 80%;
    height:50%;
    top: 25%;
    margin: 0;
    padding: 0;
}

.Content_T ul h3{
    margin: 0;
}
.ContentsExample_V_Show{
    height: auto;
    width: auto;
    position: absolute;
    top: 1.3cm;
    right: 50px;
    left: 50px;
    bottom: 0;
    
}
.ContentsExample_V_Show li{
    list-style: none;
    margin: 1%;
    width: 6.5cm;
    height: 5.5cm;
    background-color: transparent;
    float: left;border-radius: 12.5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.476);
}
.ContentsExample_V_Show li img{
    height: 3.5cm;
    width: 100%;
    top: 0;
    border-top-right-radius: 12.5px;
    border-top-left-radius: 12.5px;
}
.ContentsExample_V_Show li P{
    height: 0.75cm;
    width: 100%;
    bottom: 0;
    border-radius: 50px;
}
.ContentExample_I_show{
    height: auto;
    width: calc(100% - calc(2.5cm * 2));
    position: absolute;
    top: 2cm;
    margin: 0 auto;
    right: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    left:2.5cm;
    list-style: none;
    bottom: 0;
}
.ContentExample_I_show li{
    margin: 5px;
    width: 5cm;
    top: 0;
    height: 8cm;
    background-color: rgba(255, 128, 0, 0);
    float: left;
    border-radius: 12.5px;
    list-style: none;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.476);
}
.ContentExample_I_show li img{
    width: 100%;
    position: relative;
    height: auto;
    max-height: 6cm;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ContentExample_I_show li p{
    height: 2cm;
    width: 100%;
    bottom: 0;
    border-radius: 50px;
    margin-top: calc(100% - 2cm);
}
.ContentExamples_M_show{
    height: auto;
    width: calc(100% - calc(2.5cm * 2));
    position: absolute;
    top: 2cm;
    margin: 0 auto;
    right: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    left:2.5cm;
    list-style: none;
    bottom: 0;
}
.ContentExamples_M_show li{
    margin: 5px;
    width: 4cm;
    top: 0;
    height: 7cm;
    background-color: rgba(255, 128, 0, 0);
    float: left;
    border-radius: 12.5px;
    list-style: none;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.476);
}
.ContentExamples_M_show li video{
    width: 100%;
    position: relative;
    height: auto;
    max-height: 6cm;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ContentExamples_M_show li p{
    height: 2cm;
    position: relative;
    width: 100%;
    margin: none;
    z-index: 5;
    margin-top: 3cm ;
    margin-block-end: 0;
}
.ContentExample_Anu_show{
    height: auto;
    width: calc(100% - calc(2.5cm * 2));
    position: absolute;
    top: 2cm;
    margin: 0 auto;
    right: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    left:2.5cm;
    list-style: none;
    bottom: 0;
}
.ContentExample_Anu_show li{
    height:10cm;
    width: 13cm;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.476);
}
.ContentExample_Anu_show li img{
    height:auto;
    width: 5cm;
    top: 0.5cm;
    margin-left: calc(calc(100% - 5cm) / 2);
}
.ContentExample_Anu_show li h3{
    text-align: center;
}
.ContentExample_Anu_show li p{
    text-align: justify;
}
#TQ{
    width: 100%;
    height: 0.5cm;
    text-align: right;
    margin: 0;
    margin-right: 10px;
}
.main_contant{
    height: 50%;
    width: 75%;
    top: 25%;
    left: 12.5%;
    background-color: transparent;
    position: absolute;
    z-index: 4;
    align-content: center;
    
}
.Tic_image{
    height: 2.5cm;
    width: 2.5cm;
    top:calc(calc(100% - 2.5cm) / 2);
    left:calc(calc(100% - 2.5cm)/2);
    position: absolute;
    border-radius: 50%;
    
}
.Tic_image img{
    height: 100%;
    border-radius: 50%;
    width: 100%;
}
video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-enclosure {
    display:none !important;
}
video::-webkit-media-controls-panel {
    display:none !important;
}
#OptionCloser{
    height: 0.5cm;
    width: 0.5cm;
    position: absolute;
    top: 0;
    right: 0cm;
    z-index: 11;
    cursor: pointer;
    visibility: hidden;
}
#Options{
    height: 2cm;
    border-radius: 10px;
    width: 4cm;
    visibility: hidden;
    z-index: 11;
    top: 62.5px;
    background-color:rgb(255, 255, 255);
    left: calc(62.5px + 2cm);
    position: absolute;
}
#Options li{
    list-style: none;
    height: 1cm;
    width: 100%;
    
}
#Options li h4{
    padding: 10px;
}
#My_About_content{
    margin: 0;
    top: 116px;
    left: 148px;
    position: absolute;
}
#ProfilePhotoS{
    border:0;
    background-color: rgb(0, 123, 255);
    height: 0.8cm;
    width: 0.8cm;
    top:calc(62.5px + 0.75cm);
    left:calc(62.5px + 0.75cm);
    position: absolute;
    border-radius: 5px;
    visibility: hidden;
    z-index: 5;
}


.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.progress-circle {
    position: relative;
    border: 2px solid #ccc;
    border-top: 2px solid #09f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
  
.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
  

@media only screen and (max-width: 450px){
    .Logo h2{
        width: 0;
        visibility: hidden;
    }
    .Portfolio{
        height: calc(100% - 1.3cm);
        top: 1.3cm;
        width: 100%;
        border-radius: 0;
        left: 0;
    }
    .Pphoto {
        height: 1.5cm;
        width: 1.5cm;
        top: 0.5cm;
        background-color: aqua;
        left: 1cm;
        position: absolute;
    }
    .Portfolio h1 {
        margin: 0;
        top: 0.5cm;
        left: 3cm;
        position: absolute;
    }
    #My_About_content{
        margin: 0;
        top: 1.5cm;
        left: 3cm;
        position: absolute;
    }
    .Content_T {
        top: 5cm;
    }
    .upload_pop_up{
        height:100%;
        width: 100%;
        top: 0%;
        left: 0;
    }
    .content {
        position: absolute;
        left: 0cm;
        top: 1.3cm;
        height: 40%;
        width: 100%;
        background-color: rgba(191, 191, 191, 0.507);
    }
    .title {
        width: auto;
        top: calc(40% + 1.5cm);
        left: 5%;
        right: 5%;
    }
    .suggations {
        height: 10%;
        width: 45%;
        position: absolute;
        top: -1cm;
        right: 2cm;
    }
    #Options {
        top: 0.5cm;
        left: 3cm;
    }
    .profile label {
        top: 0.5cm;
        left: 1cm;
    }
    #ProfilePhotoS{
        top:0.8cm;
        left:1.35cm;
    }
    #About_Write {
        top: 1.5cm;
        left: 3cm;
    }
    #Aboutxyz {
        top: 1.5cm;
        left: 3cm;
    }
    #About_SEction form button {
        top: 2.5cm;
        left: 1.5cm;
    }
    .VUpload button {
        right: 10%;
        bottom: -7cm;
    }
    
    #content-preview {
        left: 0;
        top: 1.3cm;
        
        width: 100%;
    }
}
@media only screen and (max-width: 900px) and (min-width:450px){
    .content {
        left: 2cm;
        height: 30%;
        width: 75%;
    }
    .title {
        width: 80%;
        top: calc(2.7cm + 35%);
    }
}